{% extends "base.html" %}
{% block title %}KangBot{% endblock %}
{% block content %}
<body>

  <div class="container">
    <img src="static/doge.png" alt="sed" style="width:100%" style="height:100%" >
    <p>Apakah ada yang bisa dibantu?</p>
  </div>

  <div id="place_for_chat"></div>



  <!-- <form method = "POST" action="" id="form">
    <div class="input-group mb-3">
      <input type="text" id="query" name="query" class="form-control" placeholder="Say something to KangBot" aria-label="Type something..." aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" id="submit" type="submit" value="Enter"  >Enter</button>
    
    </div>
  </form>  -->
  

  <div class="input-group mb-3">
    <input type="text" id="query" name="query" class="form-control" placeholder="Say something to KangBot" aria-label="Type something..." aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" id="submit" type="submit" value="Enter"  >Enter</button>
  
  </div>

  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
    $(document).on('keypress',function(e){
      if(e.which == 13) {
        
        var text = $("#query").val();
        $("#query").val("");

        $.ajax({
          url: "/chat",
          type: "get",
          data: {jsdata: text},
          success: function(response) {
            $("#place_for_chat").html(response);
          },
          error: function(xhr) {
            //Do Something to handle error
          }
        }); 
      }
    });
    $("#submit").click(function(e){
        
        var text = $("#query").val();
        $("#query").val("");

        $.ajax({
          url: "/chat",
          type: "get",
          data: {jsdata: text},
          success: function(response) {
            $("#place_for_chat").html(response);
          },
          error: function(xhr) {
            //Do Something to handle error
          }
        }); 
    });
    
    </script>

</body>



  <style>
      /* Chat containers */
        .container {
        border: 2px solid #dedede;
        background-color: #f1f1f1;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 50px;
        width: 580px;
        text-align: left;
        float:left;
        
        }

        /* Darker chat container */
        .darker {
        border-color: #ccc;
        background-color: #ddd;
        text-align: right;
        float: right;
        }

        /* Clear floats */
        .container::after {
        content: "";
        clear: both;
        display: table;
        }

        /* Style images */
        .container img {
        float: left;
        max-width: 60px;
        width: 100%;
        margin-right: 20px;
        border-radius: 50%;
        }

        /* Style the right image */
        .container img.right {
        float: right;
        margin-left: 20px;
        margin-right:0;
        }

        /* Style time text */
        .time-right {
        float: right;
        color: #aaa;
        }

        /* Style time text */
        .time-left {
        float: left;
        color: #999;
        }
  </style>


{% endblock %}