{% extends "base.html" %}
{% block title %}Sub Page{% endblock %}
{% block content %}
<div class="container">
    <img src="static/doge.png" alt="sed" style="width:100%" style="height:100%" >
    <p>Hello. How are you today?</p>
  </div>
  
  <div class="container darker">
    <img src="static/profile.png" alt="sed" style="width:100%" style="height:100%" class="right" >
    <p>Hey! I'm fine. Thanks for asking!</p>
  </div>
  
  <div class="container">
    <img src="static/doge.png" alt="sed" style="width:100%" style="height:100%" >
    <p>Sweet! So, what do you wanna do today?</p>
  </div>
  
  <div class="container darker">
    <img src="static/profile.png" alt="sed" style="width:100%" style="height:100%" class="right">
    <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
  </div>

  <form method = "POST" action="">
      
    <div class="input-group mb-3">
        <input type="text" id="query" name="query" class="form-control" placeholder="Say something to KangBot" aria-label="Type something..." aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit" value="Enter"  >Enter</button>
    
      </div>
  </form> 

  <style>
      /* Chat containers */
        .container {
        border: 2px solid #dedede;
        background-color: #f1f1f1;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0;
        }

        /* Darker chat container */
        .darker {
        border-color: #ccc;
        background-color: #ddd;
        }

        /* Clear floats */
        .container::after {
        content: "";
        clear: both;
        display: table;
        }

        /* Style images */
        .container img {
        float: left;
        max-width: 60px;
        width: 100%;
        margin-right: 20px;
        border-radius: 50%;
        }

        /* Style the right image */
        .container img.right {
        float: right;
        margin-left: 20px;
        margin-right:0;
        }

        /* Style time text */
        .time-right {
        float: right;
        color: #aaa;
        }

        /* Style time text */
        .time-left {
        float: left;
        color: #999;
        }
  </style>

{% endblock %}